<div class="sticky top-20">
  <div
    class="w-full flex flex-col mx-auto overflow-hidden relative rounded-xl h-[160px] bg-chatCard border border-outline2 shadow-[0px_4px_10px_0px_rgba(0,_0,_0,_0.10)] gradient-border max-sm:min-h-[160px] max-sm:[contain:layout\ size]"
  >
    <div class="gradient-outer"></div>
    <textarea
      name="message"
      rows="4"
      class="block text-emphasis-high relative z-1 resize-none overflow-auto p-5 w-full bg-transparent placeholder:text-emphasis-low text-sm focus:outline-none"
      placeholder="Paste your Figma URL"
    >
</textarea
    >
    <div class="px-5 pb-3 pt-3 flex justify-end w-full relative z-1">
      <button
        class="relative flex items-center justify-center border-solid transition-colors cursor-pointer bg-primary-500 text-[#fff] hover:bg-primary-600 focus:bg-primary-600 w-[28px] h-[28px] rounded-[6px] disabled:opacity-50 disabled:text-empthi-low disabled:cursor-not-allowed p-2"
        aria-disabled="true"
        aria-busy="false"
        aria-label="submit"
        name="submit"
        disabled=""
      >
        <div
          class="w-full flex items-center justify-center pointer-events-none"
        >
          <div class="flex items-center justify-center gap-2">
            <p
              class="text-inherit font-medium !text-white text-[12px] leading-[20px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                fill="currentColor"
                viewBox="0 0 256 256"
                class="text-white"
              >
                <path
                  d="M205.66,117.66a8,8,0,0,1-11.32,0L136,59.31V216a8,8,0,0,1-16,0V59.31L61.66,117.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0l72,72A8,8,0,0,1,205.66,117.66Z"
                ></path>
              </svg>
            </p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
