.bg-border-control {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--border-control)/var(--tw-bg-opacity));
}

.left-\[11px\] {
    left: 11px;
}

.bg-surface-100 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--background-surface-100)/var(--tw-bg-opacity));
}

.text-foreground
 {
    --tw-text-opacity: 1;
    color: hsl(var(--foreground-default) / var(--tw-text-opacity));
}