@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tailwind v4 theme definition */
@theme {
  --color-saffron: #FF9933;
  --color-india-green: #138808;
  --color-chakra-blue: #000080;
  --color-white: #FFFFFF;
}


/* Custom background color */
.bg-saffron-lite {
  background-color: #ffcc80; /* light saffron */
}

/* Hover version */
.hover\:bg-saffron-lite:hover {
  background-color: #ffcc80;
}

/* Optional: custom gradient utility */
@utility bg-tricolor {
  background-image: linear-gradient(90deg, #FF9933, #FFFFFF, #138808);
}

@layer utilities {
  .bg-tricolor {
    background-image: linear-gradient(90deg, #FF9933, #FFFFFF, #138808);
  }

  .bg-saffron-lite {
  background-color: #FFCC80;
}
}

/*This is the css of media files scrolling in preview mode*/
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
