.pdf-viewer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .pdf-viewer .react-pdf__Document {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .pdf-viewer .react-pdf__Page {
    border: 1px solid #ddd;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(2.0);
  }

  
.download-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
}

.image-container:hover .download-button {
  display: block;
}


.overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
}

.overlay-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.image-container:hover .overlay-button {
  display: block;
}